//colors

$white: hsl(0, 0%, 100%);
$paleblue: hsl(221, 100%, 96%);
$lightlavender: hsl(241, 100%, 89%);
$darklavender: hsl(241, 45%, 72%);
$darkgrayblue: hsl(224, 30%, 27%);
$lightred: hsl(0, 100%, 67%);
$verylightred: hsla(0, 100%, 67%, .1);
$orangeyyellow: hsl(39, 100%, 56%);
$lightorangeyyellow: hsl(39, 100%, 56%, .1);
$greenteal: hsl(166, 100%, 37%);
$lightgreenteal: hsl(166, 100%, 37%, .1);
$cobaltblue: hsl(234, 85%, 45%);
$lightcobaltblue: hsl(234, 85%, 45%, .1);

//gradients

$backgroundgradient: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);

$circlegradient: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsla(241, 72%, 46%, 0) 100%);


